<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            <strong>Самовывоз на {{delivery.dates.getFromDate}} - {{delivery.dates.getToDate}}</strong>
        </h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            {{#outlet}}
                {{#name}}
                    <dt>Название</dt><dd>{{name}}</dd>
                {{/name}}
                {{#type}}
                    <dt>Тип</dt><dd>{{type.desc}}</dd>
                {{/type}}
                {{#workingTime}}
                    <dt>Время рабоы</dt><dd>{{workingTime}}</dd>
                {{/workingTime}}
                {{#address}}
                    <dt>Адрес</dt><dd>{{address}}</dd>
                {{/address}}
            {{/outlet}}
        </dl>
    </div>

</div>