<!DOCTYPE html>
<html lang="en">
	<head>
		{{>head}}
		<link href="/css/datepicker3.css" rel="stylesheet">
	</head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      	{{>navbar}}
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar" id="navigation">
						<li class="text-center">Заказы</li>
						<hr />
						<li><a href="/orders">Все</a></li>
						{{#order_status}}
							<li><a href="/orders?status={{name}}">{{brief}}</a></li>
						{{/order_status}}
					</ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h3><a href="/order?id={{order.id}}&back_url={{back_url}}"><i class="glyphicon glyphicon-arrow-left"></i></a>&nbsp;Изменение условий доставки заказа {{order.id}}</h3>
					<hr/>
					{{#order}}
					<form role="form" method="POST" action="/change_delivery">
						<input type="hidden" name="order-id" value="{{order.id}}">
						<div class="form-group col-md-12">
							<label for="delivery-type">Способ доставки</label>
							<select id="delivery-type" class="form-control" name="delivery-type">
								{{#delivery_type}}
									<option value="{{.}}">{{desc}}</option>
								{{/delivery_type}}
							</select>
						</div>
						<div class="text-danger form-group col-md-12">
							<label for="delivery-price">Стоимость доставки</label>
							<input type="text" class="form-control" name="delivery-price" value="{{delivery.price}}">
						</div>
						<div class="form-group col-md-12">
							<label for="delivery-outlet">Точка самовывоза</label>
							<select id="delivery-outlet" class="form-control" name="delivery-outletId">
								{{#each outlets}}
									<option value="{{this.id}}">{{this.name}}</option>
								{{/each}}
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="delivery-address-country">Страна</label>
							<input type="text" class="form-control" name="delivery-address-country" value="{{delivery.address.country}}">
						</div>
						<div class="form-group col-md-6">
							<label for="delivery-address-postcode">Индекс</label>
							<input type="text" class="form-control" name="delivery-address-postcode" value="{{delivery.address.postcode}}">
						</div>
						<div class="form-group col-md-6">
							<label for="delivery-address-city">Город</label>
							<input type="text" class="form-control" name="delivery-address-city" value="{{delivery.address.city}}">
						</div>
						<div class="form-group col-md-12">
							<label for="delivery-address-subway">Станция метро</label>
							<input type="text" class="form-control" name="delivery-address-subway" value="{{delivery.address.subway}}">
						</div>
						<div class="form-group col-md-12">
							<label for="delivery-address-street">Улица</label>
							<input type="text" class="form-control" name="delivery-address-street" value="{{delivery.address.street}}">
						</div>
						<div class="form-group col-md-4">
							<label for="delivery-address-house">Номер дома/владения</label>
							<input type="text" class="form-control" name="delivery-address-house" value="{{delivery.address.house}}">
						</div>
						<div class="form-group col-md-4">
							<label for="delivery-address-block">Номер корпуса/строения</label>
							<input type="text" class="form-control" name="delivery-address-block" value="{{delivery.address.block}}">
						</div>
						<div class="form-group col-md-4">
							<label for="delivery-address-entrance">Номер подъезда</label>
							<input type="text" class="form-control" name="delivery-address-entrance" value="{{delivery.address.entrance}}">
						</div>

						<div class="form-group col-md-4">
							<label for="delivery-address-entryphone">Код домофона</label>
							<input type="text" class="form-control" name="delivery-address-entryphone" value="{{delivery.address.entryphone}}">
						</div>
						<div class="form-group col-md-4">
							<label for="delivery-address-floor">Этаж</label>
							<input type="text" class="form-control" name="delivery-address-floor" value="{{delivery.address.floor}}">
						</div>
						<div class="form-group col-md-4">
							<label for="delivery-address-apartment">Номер квартиры или офиса</label>
							<input type="text" class="form-control" name="delivery-address-apartment" value="{{delivery.address.apartment}}">
						</div>

						<div class="form-group col-md-12">
							<label for="delivery-address-recipient">Получатель заказа</label>
							<input type="text" class="form-control" name="delivery-address-recipient" value="{{delivery.address.recipient}}">
						</div>
						<div class="form-group col-md-12">
							<label for="delivery-address-phone">Телефон получателя</label>
							<input type="text" class="form-control" name="delivery-address-phone" value="{{delivery.address.phone}}">
						</div>
						<div class="form-group input-daterange col-md-12" id="datepicker">
							<div class="input-group">
								<input type="text" class="input-md form-control" name="delivery-dates-fromDate"  value="{{delivery.dates.getFromDate}}"/>
								<span class="input-group-addon">&nbsp;--&nbsp;</span>
								<input type="text" class="input-md form-control" name="delivery-dates-toDate" value="{{delivery.dates.getToDate}}"/>
							</div>
						</div>
						<div class="form-group col-md-12">
							<input type="submit" class="form-control btn-warning col-md-6"><div class="col-md-3">
						</div>
					</form>
					{{/order}}
        </div>
      </div>
    </div>
  {{>scripts}}
	<script src="/js/bootstrap-datepicker.js"></script>
		<script src="/js/bootstrap-datepicker.ru.js"></script>
	<script>
		$('.input-daterange').datepicker
		(
			{
				format: "dd-mm-yyyy",
				weekStart: 1,
				todayBtn: "linked",
				language: "ru"
			}
		);
	</script>
  </body>
</html>
