<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/orders">Покупка на маркете</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
           <hr />
          <ul class="nav nav-sidebar">
              <li><a href="/orders">Все</a></li>
            {{#order_status}}
            <li><a href="/orders?status={{name}}">{{brief}}</a></li>
            {{/order_status}}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
          <h2 class="sub-header">Заказы</h2>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Дата</th>
                  <th>Статус</th>
                  <th>Сумма</th>
                  <th>Доставка</th>
                  <th>Оплата</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {{#orders.orders}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{creationDate}}</td>
                  <td>
                      <span class="visible-md visible-lg hidden-sm hidden-xs">{{status.desc}}</span>
                      <span class="hidden-md hidden-lg visible-sm visible-xs">{{status.brief}}</span>
                      {{#if fake}}[ТЕСТОВЫЙ]{{/if}}
                  <td>{{currency total}}&nbsp;руб.</td>
                  <td>{{delivery.type.desc}}</td>
                  <td>
                      <span class="visible-md visible-lg hidden-sm hidden-xs">{{paymentMethod.desc}}</span>
                      <span class="hidden-md hidden-lg visible-sm visible-xs">{{paymentMethod.brief}}</span>
                  </td>
                  <td><a class="btn btn-small btn-default" href="/order?id={{id}}&back_url={{back_url}}">Подробнее</a></td>
                </tr>
              {{/orders.orders}}
             </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{>scripts}}
  </body>
</html>
