<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/orders">Покупка на маркете</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar" id="navigation">
						<li class="text-center">Заказы</li>
						<hr />
						<li><a href="/orders">Все</a></li>
						{{#order_status}}
							<li><a href="/orders?status={{name}}">{{brief}}</a></li>
						{{/order_status}}
					</ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{#order}}
          <h1 class="page-header"><a href="{{raw_back_url}}"><i class="glyphicon glyphicon-arrow-left"></i></a>&nbsp;Заказ N{{id}} от {{creationDate}} {{#if fake}}[ТЕСТОВЫЙ]{{/if}}</h1>
							<div class="btn-group btn-group-justified">
								{{#status_transitions}}
								<a class="btn btn-default modal-hook" role="button" title="{{desc}}" data-href="/change_status?id={{id}}&status={{.}}&back_url={{back_url}}" data-desc="{{desc}}" data-target="#yesno">
									<span class="visible-md visible-lg hidden-sm hidden-xs">{{desc}}</span>
									<span class="hidden-md hidden-lg visible-sm visible-xs">{{brief}}</span>
								</a>
								{{/status_transitions}}
								{{#if cancellable}}
								<div class="btn-group">
									<a class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
										Отменить <span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										{{#cancellation_reasons}}
										<li><a class="modal-hook" data-href="/change_status?id={{id}}&status=CANCELLED&substatus={{.}}&back_url={{back_url}}" data-desc="{{desc}}">{{desc}}</a></li>
										{{/cancellation_reasons}}
									</ul>
								</div>
								{{/if}}
							</div>
							<!-- Modal -->
							<div class="modal fade" id="yesno" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Отмена</span></button>
											<h4 class="modal-title text-danger" id="ModalLabel">Внимание!</h4>
										</div>
										<div class="modal-body">
											Изменить статус заказа N{{id}}?<br/>
											Новый статус: <strong><span id="new_status">?</span></strong>
										</div>
										<div class="modal-footer">
											<a type="button" class="btn btn-default" data-dismiss="modal">Отмена</a>
											<a id="proceed_link" type="button" class="btn btn-primary">Да</a>
										</div>
									</div>
								</div>
							</div>
						<div class="panel panel-default">
							<div class="panel-body text-center">
							<h3>
								{{status.desc}}
							</h3>
							{{#substatus}}Причина: {{substatus.desc}}{{/substatus}}

							</div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 class="panel-title"><strong>Информация о покупателе</strong></h3></div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {{#buyer.firstName}}
														<dt>Имя</dt><dd>{{buyer.firstName}}</dd>
                            {{/buyer.firstName}}
                            {{#buyer.middleName}}
                            <dt>Отчество</dt><dd>{{buyer.middleName}}</dd>
                            {{/buyer.middleName}}
                            {{#buyer.lastName}}
                            <dt>Фамилия</dt><dd>{{buyer.lastName}}</dd>
                            {{/buyer.lastName}}
                            {{#buyer.phone}}
														<dt>Телефон</dt><dd>{{buyer.phone}}</dd>
                            {{/buyer.phone}}
                            {{#buyer.email}}
														<dt>e-mail</dt><dd>{{buyer.email}}</dd>
                            {{/buyer.email}}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            {{#if delivery.is_delivery}}
                {{>widget/delivery}}
            {{/if}}
            {{#if delivery.is_post}}
                {{>widget/post}}
            {{/if}}
            {{#if delivery.is_pickup}}
                {{>widget/pickup}}
            {{/if}}
            </div>
							{{#notes}}
								<div class="col-md-12">
								<div class="panel panel-warning">
									<div class="panel-heading">Комментарий покупателя:</div>
									<div class="panel-body text-center">
										{{notes}}
									</div>
								</div>
								</div>
							{{/notes}}
                <table class="table table-striped table-hover table-condensed">
                    <tbody><tr class="row">
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                    </tr>
                    {{#items}}
                    <tr class="row">
                        <td class="col-md-9 word-wrapped">[{{offerId}}] {{offerName}}</td>
                        <td class="col-md-1 text-center">{{count}}</td>
                        <td class="col-md-2 text-right">{{currency price}}&nbsp;руб.</td>
                    </tr>
                    {{/items}}
                    <tr class="row"> <td colspan="3" class="text-right">Итого:&nbsp;<strong>{{currency total}}&nbsp;руб.</strong></td></tr>
                    </tbody>
                </table>
            {{/order}}
        </div>
      </div>
    </div>
  {{>scripts}}
  </body>
</html>
